language: objective-c
osx_image: xcode9
script:
  xcodebuild -project TinyWatchCalc.xcodeproj -destination 'platform=iOS Simulator,id=5F22BAE5-1DB2-43CC-8983-5C4EE1BA37E7,OS=11.0' -scheme Calculator build test
